gaze_follower.pptx
gazefollower/res/model_weights/base_32M.mnn
gazefollower.egg-info
gazefollower_data_analysis
tests
build
dist
build.md
build_number.txt
n_point_recorder.py
smooth_pursuit_recorder.py
test.py
test2.py
test4.py
test5.py
test6.py
.idea
.venv
__pycache__
gazefollower/__pycache__
gazefollower/calibration/__pycache__
gazefollower/camera/__pycache__
gazefollower/face_alignment/__pycache__
gazefollower/filter/__pycache__
gazefollower/gaze_estimator/__pycache__
gazefollower/logger/__pycache__
gazefollower/misc/__pycache__
gazefollower/res/__pycache__
gazefollower/ui/__pycache__
.gitignore
token
gazefollower/res/model_weights/base.mnn